body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: purple;
}

#board {
    /*background-color: skyblue; */
    background-image: url("./icons/flappybirdbg.png");
}
 